
#contenedor{
    border: 10px solid #000000;
    font: 120% monospace;
    display: flex;
    flex-direction: column;
}

#cabecera{
    color: #ea5455;
    background-color: #2d4059;
    height:20%;
    border-bottom: 5px solid black;
    
}

#columna1{
    width: 20%;
}

#columna2{
    width: 60%;
}

#columna3{
    width: 20%;
}

#bajada{
    color: #fed460;
    height:20%;
    background-color: #f07b3f;
    border-top: 5px solid black;
    border-bottom: 10px solid black;
}
#izquierda{
    
    height:40%;
    background-color:#4e4e6a;
    float:left;
    width:70%;
    border-bottom: 10px solid black;

   
}
#derecha{
    height:40%;
    background-color:#f73f52;
    float:right;
    width:30%;
    border-bottom: 10px solid black;


}
#pie{
    height:10%;
    background-color:#e6af2e;
    clear:both;


}