*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{

}

    .header{
        background: #000;
    }
        .menu{
            background: #2d4059;
        }
            .logo{
            background: #ea5455;
            }
            .nav{
                background: #ea5455;
            }
            .social{
                background: #ea5455;
            }
        .texto-principal{
            background: #f07b3f;
        }
            h1{
                background: #ffd460;
            }



    .section{
        background: #000;
    }

        .articulos{
            background: #4e4e6a;
        }
            .article{
                background: #1f6cb0;
            }
            .navegacion{
                background: #70a3c4;
            }
        .aside{
            background: #f73f52;
        }
            .publicidad{
                background: #ffea85;
            }

    .footer{
        background: #000;
    }
        .pie{
            background: #e6af2e;
        }