*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
}

.padre{

}

    .header{
        background: #000;
    }
        .menu{
            background: #2d4059;
        }
            .logo{
            background: #ea5455;
            }
            .nav{
                background: #ea5455;
            }
            .social{
                background: #ea5455;
            }
        .texto-principal{
            background: #f07b3f;
        }



    .section{
        background: #000;
    }

    .footer{
        background: #000;
    }