/* Se agregan los media query para el sitio en tablets*/


*{
    margin:10px;
    padding: 10px;
    box-sizing: border-box;
    max-width: 1200px
}

.container{
    display: flex;
    flex-flow: column nowrap;
}

    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
        text-align: center;
    }
        .menuprincipal{
            background: #2d4059;
            display: flex;
            flex-flow: row nowrap;
            height: 100px;
            align-items: center;
        }
            .logo{
            background: #ea5455;
            flex: 1 1 auto;
            height: 30px;

            }
            .nav{
                background: #ea5455;
                flex: 5 1 auto;
                height: 30px;
            }
            .social{
                background: #ea5455;
                flex: 1 1 auto;
                height: 30px;
            }

        .texto-principal{
            background: #f07b3f;
        }
            h1{
                background: #ffd460;
                text-align: center;
            }



    .section{
        background: #000;
        display: flex;
        text-align: center;
    }
        .articulos{
            background: #4e4e6a;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            .article{
                background: #1f6cb0;
                flex: 1 1 40%;

            }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside{
            background: #f73f52;
            
        }
            .texto-aside{
                background: #ffea85;
            }

    .footer{
        background: #000;
        text-align: center;
    }
        .pie-pagina{
            background: #e6af2e;
        }
/* Se agrega media para maquetar en pagina con tablet como pide el ejercio 2 del nivel 1*/
        @media all and (max-width:800px) {

            .section{
                flex-direction: column;
            }
            /* Esta parte no la pide el ejercicio 2 pero queda bien
            .menuprincipal{
                flex-direction: column;
                height: auto;

            }*/
        }
