* {
  margin: 0px;
  padding: 0.1px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-flow: column nowrap;
}

.margen.interno {
  padding: 0 50px;
}

.header {
  background: url(../nivel2/images/header.jpg);
  background-position: center;
  background-attachment: contain;
  background-size: cover;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  justify-content: space-between;
}
.menuprincipal {
  background: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  align-items: center;
}
.logo {
  flex: 1 1 auto;
  /* flex-shrink: inherit;*/
}

.logo img {
  max-width: 35%;
  max-height: 35%;
  min-width: 10%;
  min-height: 10%;
}

.logo a {
  color: #8c8c8c;
}

.logo a:hover {
  color: #343434;
}

.nav {
  flex: 5 1 auto;
  display: flex;
}
.nav a {
  color: #8c8c8c;
  font-size: 11 px;
  text-transform: uppercase;
  padding: 0 10px;
  letter-spacing: 2px;
}

.nav a:hover {
  color: #343434;
}
.social {
  flex: 1 1 auto;
  display: flex;
}

.social a {
  font-size: 18px;
  color: #8c8c8c;
  padding: 0 5px;
}

.social a:hover {
  color: #343434;
}

.texto-principal {
  /*background: #f07b3f;*/
  height: 580 px;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  color: #f08080;
  font-weight: 700;
  text-align: center;
  line-height: 1.6;
}

.section {
  background: grey;
  display: flex;
}
.articulos {
  background: #f7f7f7;
  flex: 2 1 auto;
  display: flex;
  flex-flow: row wrap;
}
.article {
  flex: 1 1 40%;
  color: #444;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 10px 10px 0 0px;
  flex: 1 1 45%;
  background: #ececec;
}

.article img {
  /*max-width: 300px;
  max-height: 300px;*/
  width: 100%;
}

h3 {
  color: yellow;
  font-size: 13px;
  padding: 10px 0;
  margin-top: -30px;
}

h2 {
  font-size: 25px;
  text-transform: uppercase;
  padding: 0px 0 10px 0;
  color: #fff;
}
.navegacion {
  background: #70a3c4;
  flex: 1 1 100%;
}
.aside {
  background: #f73f52;
}
.texto-aside {
  background: #ffea85;
}

.footer {
  background: #000;
  text-align: center;
}
.pie-pagina {
  background: #e6af2e;
}

/*        
@media all and (max-width: 800px) {
        .section{
            flex-direction: column;
            background: #feff03
        }
    }
        

@media all and (max-width: 600px) {
    .section{
        flex-direction: column;
        background: #feff03;
    }

    .menuprincipal{
        flex-direction: column;
        height: auto;
    }

    .articulos{
        flex-direction: column;
        background: #09506f;
    }
        .article{
            background: #61959c;
        }
        .navegacion{
            background: #a3ddcb;
        }
        .aside{
            background: #fd7b54;
            
        }
            .texto-aside{
                background: #fdb36b;
            }
}


@media all and (max-width: 400px){
    .aside{
        flex-direction: column;
    }
}
*/
