.wrapper {
    display: grid;
    grid-template-columns: 200px 400px 200px;
    text-align: center;
    grid-auto-rows: 100px;
  }
.wrapper{
    border: 10px solid #e6af2e;
    
    background-color: #70a3c4;
}

*{
    box-sizing: border-box;
}

body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #000;
    
}